body {
    margin: 0;
    padding:0;
    background-color: black;;
}

#cardContainer {
    background-color: brown;
    width: 100vw;
    height: 70vh;
    overflow: scroll;
}

#card {
    padding: 10px;
    border: 1px solid black;
    width: 100vw;
    height: auto;
    background-color: rgba(196, 170, 170, 0.808);
    
}