body {
  margin: 0;
  padding: 0;
  background-color: black;
}

h1,
h4 {
  text-align: center;
}

p {
  margin: auto;
  min-width: 250px;
  max-width: 80%;
  border: 1px solid black;
}

main {
  border: 1px solid black;
}
