.navbar-nav {
  background-color: #c14545;

  a {
    text-align: center;
    color: white;
  }

  button {
    text-align: center;
    color: white;
    width: 100%;
  }
}

.navbar {
  display: flex;
  align-content: center;
  justify-items: center;
  background-color: #c14545;
  div {
    width: 30%;
  }

  .navHome--btn {
    text-align: center;
    button {
      text-align: center;
      width: 100%;
    }
  }

  .navbar-toggler {
    float: right;
  }
}
