//boostrapp red eb6864
$red: #eb6864;

.container--login {
  width: 100vw;
  height: 75vh;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  div {
    margin-top: 5px;
  }
}

label {
  padding-right: 10px;
}

input {
  text-align: center;
  border: none;
  border-bottom: 1px solid $red;

  &:focus {
    outline: none;
  }
}

.btn--login {
  padding: 5px;
  margin-bottom: 5px;
  color: white;
  background-color: $red;
  width: 100%;
  border: none;
  border-radius: 5px;
}
