// Color palette
$primary-red: #ec454c;
$background-beige: #f5ebd1;
$footer-green: #389e97;
$footer-light-text: #c2e2e0;
$orange-blob: #f9b258;
$grey-blob: #b0c0c2;
$salmon-blob: #ffa188;
$green-blob: #b7c0af;
$pink-blob: #fddecf;
$cleq-black: #150708;
$cleq-white: #d5cece;
$grid-red: #de494c;
